# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


remplazo.ts
folders.md
remplazo.md
agents.md
clean_context.md
depasito.md
prototypes/prompt_rols.md
prototypes/backend_requirements.md
prototypes/frontvue_v1.10.0.md
